@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,600,700,800');

:root,
:root[mode="ios"],
:root[mode="md"] {
  --ion-font-family: 'Roboto', sans-serif;
  font-family: var(--ion-font-family) !important;
  color: #313164;
}

body input.native-input[type="text"],
body input.native-input[type="number"],
body input.native-input[type="password"],
ion-select {
  background: rgb(231, 243, 255);
  border-radius: 16px;
  padding: 20px;
  margin-top: 6px;
  margin-bottom: 16px;
}

.tubeo-modal {
  margin: 64px 16px !important;
}

.tubeo-modal-body {
  margin: 32px 0px !important;
}

.tubeo-modal-header .tubeo-modal-header-image {
  margin: 0 auto;
  text-align: center;
}

.tubeo-modal-header-image img {
  max-width: 60%;
}

.tubeo-modal-header p {
  font-size: 12px;
}

.tubeo-decision {
  background: var(--tubeo-color-input-bg);
  color: var(--tubeo-color-input-text);
  border-radius: 16px;
  padding: 1px 20px;
}

.tubeo-decision:first-of-type {
  margin-top: 6px;
}

input:checked + label .tubeo-decision {
  background: #00c853 !important;
  color: white;
}

.info-box {
  margin: 24px 0;
  border-radius: 8px;
  padding: 12px 16px;
  background: #3678ac;
  color: #ddd;
}

.mt-8 {
  margin-top: 8px !important;
}

.menu-button {
  display: inline-block;
  border-radius: 3px;
  border: 1px solid #ccc;
}

ion-card {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.bg-water{
  background-color: #3678ac;
}
.cdc-legend-item-color {
    height: 0.8rem !important;
    width: 0.8rem !important;
    border-radius: 5px !important;
    margin-right: 0.5em;
    color: #313164 !important;
}
.cdc-legend-item > span{
  color: #313164 !important;
}
h5{
    color: #313164;
}