<template>
  <ion-page>
    <ion-content class="ion-padding">
      <div class="tubeo-modal">
        <div class="tubeo-modal-header">
          <div class="tubeo-modal-header-image">
            <img src="/assets/images/undraw_signal_searching_bhpc.svg" alt="connect device" />
          </div>

          <h2 class="ion-text-center">New device detected</h2>
          <p class="ion-text-center">
            Choose your device's type, and name it as you want. This information could be changed later.
          </p>
        </div>
        <div class="tubeo-modal-body">
          <ion-label>Name *</ion-label>
          <ion-input></ion-input>

          <ion-label>Type *</ion-label>

          <input hidden type="radio" name="type" value="fixed" id="type_fixed" checked>
          <label for="type_fixed">
            <div class="tubeo-decision">
              <p>Wall-fixed shower</p>
            </div>
          </label>

          <input hidden type="radio" name="type" value="hand" id="type_hand">
          <label for="type_hand">
            <div class="tubeo-decision">
              <p>Handheld shower</p>
            </div>
          </label>

          <input hidden type="radio" name="type" value="hand" id="type_bath">
          <label for="type_bath">
            <div class="tubeo-decision">
              <p>Faucet</p>
            </div>
          </label>

          <p class="info-box">
            <ion-icon :icon="informationCircleOutline"></ion-icon>
            This device will be not bounded to your account after you click on the button below.
            Anyone can use the device, but only you can administer it.
          </p>

          <div class="ion-margin-top">
            <ion-button expand="block" @click="later">
              Connect device
            </ion-button>
            <ion-button fill="outline" expand="block" @click="later">
              Finish later
            </ion-button>
          </div>
        </div>
      </div>
    </ion-content>
  </ion-page>
</template>

<script>
import { IonPage, IonContent, IonLabel, IonInput, IonButton, IonIcon } from '@ionic/vue';
import { defineComponent } from 'vue';
import {useRouter} from "vue-router";
import {informationCircleOutline} from "ionicons/icons"

export default defineComponent({
  name: 'ConnectDevice',
  props: {
    title: { type: String, default: 'Super Modal' },
  },
  data() {
    const router = useRouter();

    const later = () => {
      router.push("/dashboard")
    }

    return { later, informationCircleOutline }
  },
  components: { IonPage, IonContent, IonLabel, IonInput, IonButton, IonIcon }
});
</script>
