<template>
    <ion-page>
        <div>
            <Header></Header>
            <div class="dashboard-body">
                <div class="title ion-text-center">
                    <h1 style="font-size: 48px">13,29 gallons</h1>
                  <p>used today</p>
                    <p>Remaining: <b>6,71 gallons</b></p>
                </div>
            </div>
        </div>
        <div class="chart-container ion-text-center">
            <img src="/assets/images/chart.png" alt="logo" class="logo" />
          <i>your water consumption trendline</i>
        </div>
      <img
          class="person"
          src="/assets/images/259071443_415169606758233_144298539174096120_n.png"
          alt="person"
      />

      <Flows></Flows>

        <Tabs></Tabs>
    </ion-page>
</template>

<script>
import { IonPage, IonButton, IonIcon } from "@ionic/vue";
import {
    addOutline,
    earthOutline,
    sparklesOutline,
    colorFillOutline,
} from "ionicons/icons";
import { Plugins } from "@capacitor/core";
import Header from "./partials/Header.vue";
import Tabs from "./partials/Tabs.vue";
import { useRouter } from "vue-router";
import Flows from "./Flows.vue";
import { reactive } from "vue";
import { LineChart } from "vue-chart-3";
import { Chart, registerables } from "chart.js";

const { IBeacon } = Plugins;

export default {
    name: "Dashboard",
    components: {
        Flows,
        Tabs,
        Header,
        IonPage,
    },

    setup() {
        Chart.register(...registerables);
        const testData = {
            labels: [
                "Monday",
                "Tuesday",
                "Wednesday",
                "Thursday",
                "Friday",
                "Saturday",
                "Sunday",
            ],
            datasets: [
                {
                    data: [30, 35, 32, 31, 33, 32, 30],
                    backgroundColor: ["#77CEFF"],
                },
            ],
        };

        if (IBeacon) {
            IBeacon.requestAlwaysAuthorization();
            IBeacon.addListener("enteredRegion", (response) => {
                const region = response.region;
                console.log(
                    `Entered region: ${region.identifier} (${region.uuid})`
                );
            });
            IBeacon.addListener("leftRegion", (response) => {
                const region = response.region;
                console.log(
                    `Left region: ${region.identifier} (${region.uuid})`
                );
            });
            IBeacon.startMonitoringForRegion({
                uuid: "DEADBEEF-0000-0000-0000-000000000000",
                identifier: "Dead Beef",
            });
        }

        const router = useRouter();
        const state = reactive({
            touched: false,
        });

        const openSession = () => {
            if (state.touched) {
                router.push("/session");
            } else {
                state.touched = true;
                router.push("/connect");
            }
        };

        return {
            addOutline,
            earthOutline,
            sparklesOutline,
            colorFillOutline,
            openSession,
            testData,
        };
    },
};
</script>

<style scoped>
.dashboard-body {
    padding: 16px;
    padding-top: 0;
    margin-top: 0;
}
.ion-page{
  justify-content: unset !important;
}

.title h1 {
    margin-top: 48px;
    font-size: 64px;
    font-weight: 800;
}

.session-button ion-button {
    --background: #fff;
    width: 92px;
    height: 92px;
    --border-radius: 50%;
    --box-shadow: 0 3px 6px rgba(49, 49, 100, 0.16),
        0 3px 6px rgba(49, 49, 100, 0.23);
}

.session-button ion-icon {
    color: #313164;
    font-size: 40px;
}

.person {
    max-width: 300px;
    position: absolute;
    bottom: -160px;
    left: calc(50% - 150px);
}

.chart-container {
  margin: 32px 64px;
}
</style>
