<template>
  <ion-page>
    <div>
      <div class="temp" style="float: right">
        <ion-icon :icon="thermometerOutline"></ion-icon>
        83°F
      </div>
      <div>
        <p class="time">
          <ion-icon :icon="alarmOutline"></ion-icon>
          {{ getFormattedTime() }}
        </p>
      </div>
      <div class="ion-text-center title">
        <img src="/assets/images/progress%20bar.png" />
        <h1>3m 42s</h1>
        <span style="font-size: 14px">remaining time of your current shower session</span>
      </div>

      <div class="tiles">
        <ion-row>
          <ion-col>
            <div class="tile tile-red ion-text-center">
              <ion-icon :icon="thermometerOutline"></ion-icon>
              97°F
            </div>
          </ion-col>

          <ion-col>
            <div class="tile tile-purple ion-text-center">
              <ion-icon :icon="waterOutline"></ion-icon>
              4.1 gallon
            </div>
          </ion-col>
          <ion-col>
            <div class="tile tile-orange">
              <ion-icon :icon="flashOutline"></ion-icon>
              1.4kWh
            </div>
          </ion-col>
        </ion-row>
      </div>
    </div>

    <Flows></Flows>
  </ion-page>
</template>

<script>
import {IonPage, IonIcon, IonRow, IonCol} from "@ionic/vue";
import Flows from "./Flows";
import {reactive} from "vue";
import {alarmOutline, thermometerOutline, waterOutline, flashOutline} from "ionicons/icons";

export default {
  name: "Device",
  components: {
    Flows,
    IonPage,
    IonIcon,
    IonRow,
    IonCol
  },
  setup() {
    const state = reactive({
      time: new Date()
    });

    setInterval(function () {
      state.time = new Date();
    }, 1000);

    const getFormattedTime = () => {
      return "{1}:{2}:{3}"
        .replace("{1}", ("" + state.time.getHours()).padStart(2, "0"))
        .replace("{2}", ("" + state.time.getMinutes()).padStart(2, "0"))
        .replace("{3}", ("" + state.time.getSeconds()).padStart(2, "0"))
    }

    return {
      state,
      getFormattedTime,

      alarmOutline,
      thermometerOutline,
      waterOutline,
      flashOutline
    }
  }
}
</script>

<style scoped>
.title h1 {
  font-size: 48px;
  margin-top: 8px;
}
.title {
  margin: 0;
  margin-bottom: 12px;
}
.time, .temp {
  margin: 0;
  padding: 24px 32px;
  font-weight: bold;
  font-size: 20px;
}
.tiles {
  padding: 24px;
  padding-top: 0;
  max-width: 65%;
  margin: 0 auto;
  z-index: 99999;
}

.tile {
  border-radius: 16px;
  background: red;
  padding: 24px;
  font-weight: bold;
}

.tile p {
  font-weight: normal;
  margin: 4px 0 0 0;
  font-size: 12px;
}

.tile.tile-purple {
  background: rgb(238, 238, 255);
}

.tile.tile-yellow {
  background: rgb(248, 248, 248);
}

.tile.tile-orange {
  background: rgb(255, 248, 237);
}

.tile.tile-red {
  background: rgb(249, 232, 229);
}

.title img {
  margin-top: -32px;
  max-width: 50%;
}
</style>