<template>
    <ion-page>
        <div>
            <div class="ocean">
                <div class="wave"></div>
                <div class="wave"></div>
            </div>
            <ion-grid class="tubeo-modal">
                <ion-row class="ion-text-center mt-8">
                    <ion-col>
                        <ion-fab>
                            <ion-button class="btn-transparent"
                                ><ion-icon
                                    :icon="chevronBackOutline"
                                    size="small"
                                >
                                    <slot name="start"></slot></ion-icon
                            ></ion-button>
                        </ion-fab>
                    </ion-col>
                    <ion-col>
                        <p>
                            {{ getDate() }}
                        </p>
                    </ion-col>
                    <ion-col class="ion-text-start">
                        <ion-fab>
                            <ion-button class="btn-transparent">
                                <ion-icon
                                    :icon="chevronForwardOutline"
                                    size="small"
                                >
                                    <slot name="end"></slot>
                                </ion-icon>
                            </ion-button>
                        </ion-fab>
                    </ion-col>
                </ion-row>
                <ion-row class="ion-text-center mt-8">
                    <ion-col class="tubeo-day"> S </ion-col>
                    <ion-col class="tubeo-day"> M </ion-col>
                    <ion-col class="tubeo-day"> W </ion-col>
                    <ion-col class="tubeo-day"> T </ion-col>
                    <ion-col class="tubeo-day"> W </ion-col>
                    <ion-col class="tubeo-day"> F </ion-col>
                    <ion-col class="tubeo-day"> S </ion-col>
                </ion-row>
                <ion-row class="ion-text-center">
                    <ion-col> 1 </ion-col>
                    <ion-col> 2 </ion-col>
                    <ion-col> 3 </ion-col>
                    <ion-col> 4 </ion-col>
                    <ion-col> 5 </ion-col>
                    <ion-col> 6 </ion-col>
                    <ion-col> 7 </ion-col>
                </ion-row>
                <ion-row class="ion-text-center">
                    <ion-col> 8 </ion-col>
                    <ion-col> 9 </ion-col>
                    <ion-col> 10 </ion-col>
                    <ion-col> 11 </ion-col>
                    <ion-col> 12 </ion-col>
                    <ion-col> 13 </ion-col>
                    <ion-col> 14 </ion-col>
                </ion-row>
                <ion-row class="ion-text-center">
                    <ion-col> 15 </ion-col>
                    <ion-col> 16 </ion-col>
                    <ion-col> 17 </ion-col>
                    <ion-col> 18 </ion-col>
                    <ion-col> 19 </ion-col>
                    <ion-col> 20 </ion-col>
                    <ion-col class="bg-blue"> 21 </ion-col>
                </ion-row>
                <ion-row class="ion-text-center">
                    <ion-col> 22 </ion-col>
                    <ion-col> 23 </ion-col>
                    <ion-col> 24 </ion-col>
                    <ion-col> 25 </ion-col>
                    <ion-col> 26 </ion-col>
                    <ion-col> 27 </ion-col>
                    <ion-col> 28 </ion-col>
                </ion-row>
                <ion-row class="ion-text-center">
                    <ion-col> 29 </ion-col>
                    <ion-col> 30 </ion-col>
                    <ion-col> </ion-col>
                    <ion-col> </ion-col>
                    <ion-col> </ion-col>
                    <ion-col> </ion-col>
                    <ion-col> </ion-col>
                </ion-row>
            </ion-grid>
            <ion-content
                :scroll-events="true"
                @ionScrollStart="logScrollStart()"
                @ionScroll="logScrollEvent()"
                @ionScrollEnd="logScrollEnd()"
            >
                <ion-grid>
                    <ion-row class="ion-text-center ion-justify-content-evenly">
                            <div>
                                <Donut
                                    has-legend
                                    legend-placement="right"
                                    :start-angle="0"
                                    :auto-adjust-text-size="true"
                                    :size="150"
                                    unit="px"
                                    :thickness="15"
                                    :sections="[
                                        { label: 'Morning showers', value: 40 },
                                        { label: 'Daytime showers', value: 25 },
                                        { label: 'Evening showers', value: 35 },
                                    ]"
                                >
                                    <h5>57.8 gallons saved</h5>
                                </Donut>
                            </div>
                    </ion-row>
                </ion-grid>
            </ion-content>
            <Tabs></Tabs>
        </div>
    </ion-page>
</template>

<script lang="ts">
import { chevronBackOutline, chevronForwardOutline } from "ionicons/icons";
import {
    IonPage,
    IonGrid,
    IonRow,
    IonCol,
    IonButton,
    IonIcon,
    IonContent,
    IonFab,
} from "@ionic/vue";
import Tabs from "./partials/Tabs.vue";
import Donut from "vue-css-donut-chart/src/components/Donut.vue";
import "vue-css-donut-chart/dist/vcdonut.css";

export default {
    name: "History",
    components: {
        Tabs,
        IonPage,
        IonGrid,
        IonRow,
        IonCol,
        IonButton,
        IonIcon,
        IonContent,
        IonFab,
        Donut,
    },

    setup() {
        const sections = [
            { label: "Red section", value: 25, color: "red" },
            { label: "Green section", value: 25, color: "green" },
            { label: "Blue section", value: 25, color: "blue" },
        ];
        const getDate = () => {
          return "Nov 2021"
        };
        const logScrollStart = () => {
            console.log(scroll);
        };
        const logScrollEvent = () => {
            console.log();
        };
        const logScrollEnd = () => {
            console.log();
        };
        return {
            getDate,
            chevronBackOutline,
            chevronForwardOutline,
            logScrollStart,
            logScrollEvent,
            logScrollEnd,
            sections,
        };
    },
};
</script>
<style scoped>
.tubeo-day {
    font-weight: 800;
}
.button-solid {
    --background: transparent !important;
    color: #313164;
    --background-activated: transparent !important;
    --background-focused: transparent !important;
    --background-hover: transparent !important;
    --background-activated-opacity: 1;
    --background-focused-opacity: 1;
    --background-hover-opacity: 1;
}
.button-solid:active {
    color: #c6c6ff;
}
.ion-text-start {
    text-align: start;
}
.ocean {
    height: 15%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #e3eeff;
    opacity: 0.9;
}

.bg-blue {
    background: #e3eeff;
    border-radius: 15px;
}

.wave {
    background: url(/assets/images/wave.svg) repeat-x;
    position: absolute;
    bottom: -198px;
    width: 6400px;
    height: 400px;
    animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
    transform: rotate(180deg);
}

.wave:nth-of-type(2) {
    bottom: -175px;
    animation: wave 7s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite,
        swell 7s ease -1.25s infinite;
    opacity: 1;
    transform: rotate(180deg);
}

@keyframes wave {
    0% {
        margin-left: 0;
    }
    100% {
        margin-left: -1600px;
    }
}

@keyframes swell {
    0%,
    100% {
        transform: translate3d(0, -25px, 0);
    }
    50% {
        transform: translate3d(0, 5px, 0);
    }
}
</style>
