<template>
    <ion-page>
        <ion-content :fullscreen="true">
            <div class="ion-text-center logo-container">
                <div class="icon-container"></div>
              <img src="/assets/images/icon.png" alt="logo" class="logo" />
                <ion-label> tubeo </ion-label>
            </div>

            <div class="login-container">
                <form>
                    <ion-input placeholder="E-mail" v-model="email"></ion-input>
                    <ion-input
                        placeholder="Password"
                        v-model="password"
                        type="password"
                    ></ion-input>
                    <ion-button
                        expand="block"
                        color="primary"
                        class="login-button"
                        @click="goToProfile"
                    >
                        Login&nbsp;
                        <ion-icon :icon="arrowForwardOutline">
                          <slot name="end"></slot>
                        </ion-icon>
                    </ion-button>
                  <div class="ion-text-center">
                    <br>
                    <ion-button
                        expand="block"
                        class="social-button bg-facebook"
                    >
                      <span class="button-inner-span">
                        <ion-icon
                            class="social-icon"
                            :icon="logoFacebook"
                            size="large"
                        ></ion-icon>
                        <ion-label> Log in with Facebook</ion-label>
                      </span>
                    </ion-button>
                    <ion-button
                        expand="block"
                        class="social-button bg-google"
                    >
                      <span class="button-inner-span">
                        <ion-icon
                            class="social-icon"
                            :icon="logoGoogle"
                            size="large"
                        ></ion-icon>
                        <ion-label> Log in with Google </ion-label>
                      </span>
                    </ion-button>

                  </div>
                </form>
            </div>
        </ion-content>
    </ion-page>
</template>

<script lang="ts">
import { arrowForwardOutline, logoFacebook, logoGoogle } from "ionicons/icons";
import {
    IonPage,
    IonContent,
    IonInput,
    IonButton,
    IonLabel,
    IonIcon,
} from "@ionic/vue";
import { reactive, toRefs } from "vue";
import { useRouter } from "vue-router";

export default {
    name: "Login",
    components: {
        IonContent,
        IonPage,
        IonInput,
        IonLabel,
        IonButton,
        IonIcon,
    },
    setup() {
        const router = useRouter();
        const state = reactive({
            name: "user@example.com",
            email: "user@example.com",
            password: "saveourplanet",
            errorMsg: "",
        });

        const goToProfile = async () => {
            await router.push({ name: "Profile" });
        };

        return {
            ...toRefs(state),
            arrowForwardOutline,
            state,
            logoFacebook,
            logoGoogle,
            goToProfile
        };
    },
};
</script>

<style scoped>
.logo {
  max-width: 15%;
}
.logo-container {
    margin: 96px auto 32px auto;
}

.logo-container ion-label {
    display: block;
    font-weight: bold;
    font-size: 32px;
}

.logo-container ion-label span {
    color: var(--krigli-color-primary);
    font-size: 40px;
    margin-left: -4px;
}

.login-container {
    padding: 0 32px;
}

.login-container .header {
    font-weight: bold;
    margin-bottom: 16px;
    display: block;
}

.login-button {
    height: 56px;
    font-weight: 500;
}

.icon-container {
    background-image: url("/assets/icon/icon_sm.png");
    width: 64px;
    height: 64px;
    background-size: contain;
    margin: 0 auto;
}

.bg-facebook {
  --background: #4267b2;
}

.bg-google {
  --background: #db4437;


}
.social-button {
  height: 56px;
  min-width: 60px;
}

.social-button ion-label {
  display: table-cell;
  vertical-align: middle;
  padding-left: 8px;
}

.social-button .button-inner-span {
  display: table;
}
</style>
