<template>
  <ion-page>
    <ion-content class="ion-padding">
      <div class="tubeo-modal">
        <div class="tubeo-modal-header">
          <div class="tubeo-modal-header-image">
            <img v-if="'male' === state.gender" src="/assets/images/undraw_male_avatar_323b.svg" alt="profile" />
            <img v-else-if="'female' === state.gender" src="/assets/images/undraw_female_avatar_w3jk.svg" alt="profile" />
            <img v-else src="/assets/images/undraw_not_found_-60-pq.svg" alt="profile" />
          </div>

          <h2 class="ion-text-center">Create your profile</h2>
          <p class="ion-text-center">
            Choose your device's type, and name it as you want. This information could be changed later.
          </p>
        </div>
        <div class="tubeo-modal-body">
          <ion-label>Name *</ion-label>
          <ion-input></ion-input>

          <ion-label>Age *</ion-label>
          <ion-input type="number"></ion-input>

          <ion-label>Gender *</ion-label>
          <ion-select @ionChange="changeGender($event)" name="gender" ok-text="Okay" cancel-text="Dismiss">
            <ion-select-option value="male">Male</ion-select-option>
            <ion-select-option value="female">Female</ion-select-option>
            <ion-select-option value="other">Other</ion-select-option>
          </ion-select>

          <ion-label>Country *</ion-label>
          <ion-select ok-text="Okay" cancel-text="Dismiss">
            <ion-select-option value="hungary">Hungary</ion-select-option>
            <ion-select-option value="united_kingdom">United Kingdom</ion-select-option>
            <ion-select-option value="italy">Italy</ion-select-option>
          </ion-select>

          <div class="ion-margin-top">
            <ion-button expand="block" @click="goToDashboard">
              Go to dashboard
            </ion-button>
          </div>

          <p class="ion-text-center" style="font-size: 14px">
            Your data will be stored securely.
          </p>
        </div>
      </div>
    </ion-content>
  </ion-page>
</template>

<script>
import { IonPage, IonContent, IonLabel, IonInput, IonButton, IonSelect, IonSelectOption } from '@ionic/vue';
import {defineComponent, reactive} from 'vue';
import {useRouter} from "vue-router";

export default defineComponent({
  name: 'Profile',
  props: {
    title: { type: String, default: 'Super Modal' },
  },
  data() {
    const router = useRouter();
    const state = reactive({
      gender: null,
    });

    const goToDashboard = () => {
      router.push("/dashboard")
    }

    const changeGender = (e) => {
      if (e.detail.value && e.detail.value.length) {
        state.gender = e.detail.value;
      }
    }

    return { state, goToDashboard, changeGender }
  },
  components: { IonPage, IonContent, IonLabel, IonInput, IonButton, IonSelect, IonSelectOption }
});
</script>
