<template>
  <ion-page :fullscreen="true">
    <div>
      <div class="container ion-text-center">
        <div v-if="state.rewards">
          <h1>Badges</h1>
          <p style="color: #888">
            You can earn badges based on your water saving profile. Earn them all and share with your friends!
          </p>

          <div v-for="(reward, i) in state.rewards" v-bind:key="reward.id">
            <ion-row v-if="state.activeRewardPage - 1 === Math.floor(i / 3)" class="reward-container" :class="{gold: reward.earned}">
              <ion-icon class="earnedStar" v-if="reward.earned" :icon="star"></ion-icon>
              <ion-col>
                <img class="reward-image" :src="reward.image" alt="gold" />
              </ion-col>
              <ion-col>
                <b>{{ reward.name }}</b>
                <p>Save {{ reward.limit }} gallons of water, and earn this badge!</p>
              </ion-col>
            </ion-row>
          </div>
          <ion-fab style="display: block;width: calc(100% - 32px);">
            <ion-button v-if="state.activeRewardPage > 1" @click="setActiveRewardPage(state.activeRewardPage - 1)">
              <ion-icon :icon="arrowBackOutline"></ion-icon>
            </ion-button>
            <ion-button @click="setActiveRewardPage(state.activeRewardPage + 1)">
              <ion-icon :icon="arrowForwardOutline"></ion-icon>
            </ion-button>
          </ion-fab>
        </div>

        <!--<div v-if="state.coupons">
          <h1>Coupons</h1>
          <p style="color: #888">As you saved 57.1 gallons of water this month, you are eligible to use these coupons. Enjoy our healthier planet!</p>
          <div v-for="coupon in state.coupons" v-bind:key="coupon.id">
            {{ coupon }}
          </div>
        </div>-->
      </div>
    </div>

    <Tabs></Tabs>
  </ion-page>
</template>

<script>
import {IonPage, onIonViewDidEnter, IonButton, IonRow, IonCol, IonFab, IonIcon} from "@ionic/vue";
import Tabs from "./partials/Tabs";
import {reactive} from "vue";
import {getCoupons} from "../services/coupons.service";
import {getRewards} from "../services/rewards.service";
import {arrowBackOutline, arrowForwardOutline, star} from "ionicons/icons";

export default {
  name: "Rewards",
  components: {
    Tabs,
    IonPage,
    IonButton,
    IonRow,
    IonCol,
    IonFab,
    IonIcon
  },
  setup() {
    const state = reactive({
      rewards: [],
      coupons: [],
      activeRewardPage: 1
    });

    const setActiveRewardPage = (page) => {
      state.activeRewardPage = page;
      console.log(page)
    }

    const _getRewards = () => {
      return getRewards();
    }

    const _getCoupons = () => {
      return getCoupons();
    }

    onIonViewDidEnter(() => {
      state.rewards = _getRewards();
      state.coupons = _getCoupons();
    })

    return {
      state,
      setActiveRewardPage,
      arrowBackOutline,
      arrowForwardOutline,
      star,
    }
  }
}
</script>

<style>
.container {
  margin-top: 64px;
  padding: 16px;
}

.reward-container {
  margin: 16px;
  padding: 8px;
  border: 3px solid #ccc;
  box-sizing: content-box;
  border-radius: 10px;
  text-align: center;
  opacity: 0.6;
}

.reward-container.gold {
  border-color: #FFD700;
  opacity: 1;
}

.reward-container p {
  font-size: 12px;
}

.reward-image {
  margin: 0 auto;
  width: 64px;
}

.earnedStar {
  color: #FFD700;
  font-size: 32px;
  position: absolute;
}
</style>
