<template>
  <ion-page>
    <div class="">
      <Header></Header>

      <div class="session-container">
        <div class="ion-text-center timer-container">
          <p class="timer-text">
          <span v-if="state.time >= 60">
            {{ parseInt(state.time / 60) }}m
          </span>
            <span>
            {{ parseInt(state.time % 60) }}s
          </span>
          </p>
        </div>
        <Tiles></Tiles>
        <ion-button expand="block" @click="endSession" color="danger">
          End session
        </ion-button>
      </div>
    </div>

    <Flows :height="1"></Flows>
  </ion-page>
</template>

<script>
import {IonPage, onIonViewDidEnter, IonButton} from "@ionic/vue";
import Header from "./partials/Header";
import {reactive} from "vue";
import Flows from "./Flows";
import Tiles from "./partials/Tiles";
import {useRouter} from "vue-router";

export default {
  name: "Session",
  components: {
    Tiles,
    Flows,
    Header,
    IonPage,
    IonButton,
  },
  setup() {
    const router = useRouter();
    const state = reactive({
      time: 1,
    });

    const endSession = () => {
      router.push("/dashboard");
    }

    setInterval(function () {
      state.time++;
    }, 1000);

    onIonViewDidEnter(() => {
      state.time = 1;
    })

    return {
      state,
      endSession,
    }
  }
}
</script>

<style>
.session-container {
  padding: 16px;
}
.timer-container {
  display: table;
  border: 3px solid #313164;
  width: 200px;
  margin: 32px auto;
  border-radius: 50%;
}
.timer-text {
  line-height: 130px;
  font-size: 32px;
  font-weight: bold;
}
</style>
