<template>
  <ion-page>
    <div>
      <Header></Header>

      <div class="container">
        Settings
      </div>
    </div>

    <Tabs></Tabs>
  </ion-page>
</template>

<script>
import {IonPage} from "@ionic/vue";
import Header from "./partials/Header";
import Tabs from "./partials/Tabs";

export default {
  name: "Rewards",
  components: {
    Tabs,
    Header,
    IonPage,
  }
}
</script>

<style>
.container {
  padding: 16px;
}
</style>
