<template>
  <ion-page>
    <h1>Trends</h1>

    <Tabs></Tabs>
  </ion-page>
</template>

<script>
import {IonPage} from "@ionic/vue";
import Tabs from "./partials/Tabs";

export default {
  name: "Trends",
  components: {
    Tabs,
    IonPage,
  }
}
</script>
