<template>
    <div class="tubeo-header">
        <ion-grid fixed>
            <ion-row>
                <ion-col>
                    <ion-fab>
                        <ion-button
                            style="color: #313164; z-index: 99999"
                            class="button tubeo-header-button"
                            @click="goToRewards()"
                        >
                            <ion-icon :icon="ribbonOutline"></ion-icon>
                        </ion-button>
                    </ion-fab>
                </ion-col>

                <ion-col>
                    <div class="logo ion-text-center">
                        <img src="/assets/icon/icon.png" alt="icon" />
                        <span>tubeo</span>
                    </div>
                </ion-col>

                <ion-col class="ion-text-center">
                    <div class="avatar">
                        <ion-fab>
                            <ion-button
                                style="color: #313164"
                                class="tubeo-header-button"
                                @click="goToSettings()"
                            >
                                <ion-icon :icon="personOutline"></ion-icon>
                            </ion-button>
                        </ion-fab>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</template>

<script lang="ts">
import {
    IonCol,
    IonGrid,
    IonRow,
    IonButton,
    IonIcon,
    IonFab,
} from "@ionic/vue";
import { ribbonOutline, personOutline } from "ionicons/icons";
import { useRouter } from "vue-router";

export default {
    name: "Header",
    components: {
        IonCol,
        IonGrid,
        IonRow,
        IonButton,
        IonIcon,
        IonFab,
    },
    setup() {
        const router = useRouter();

        const goToRewards = () => {
            router.push("/rewards");
        };
        const goToSettings = () => {
            router.push("/settings");
        };

        return {
            ribbonOutline,
          personOutline,
            goToRewards,
            goToSettings,
        };
    },
};
</script>

<style>
.tubeo-header-button {
    --background: transparent;
}

.tubeo-header {
    padding: 16px;
    margin-top: 32px;
    padding-bottom: 0;
}

.tubeo-header .logo {
    height: 100%;
    display: table;
}

.tubeo-header .logo span {
    font-weight: bold;
    display: table-cell;
    vertical-align: middle;
    font-size: 24px;
    padding-left: 6px;
}

.tubeo-header .logo img {
    margin-top: 8px;
    width: 48px;
    display: table-cell;
    vertical-align: middle;
}
</style>
