<template>
    <div class="tubeo-tabs">
        <ion-tabs>
            <ion-router-outlet></ion-router-outlet>
            <ion-tab-bar>
                <slot name="bottom"></slot>
                <ion-tab-button tab="dashboard" href="/dashboard">
                    <ion-icon :icon="appsOutline"></ion-icon>
                </ion-tab-button>

                <ion-tab-button tab="routine" href="/session">
                    <ion-icon :icon="waterOutline"></ion-icon>
                </ion-tab-button>

                <ion-tab-button tab="history" href="/history">
                    <ion-icon :icon="calendarOutline"></ion-icon>
                </ion-tab-button>
            </ion-tab-bar>
        </ion-tabs>
    </div>
</template>

<script lang="ts">
import {
    IonTabs,
    IonTabBar,
    IonTabButton,
    IonIcon,
    IonRouterOutlet,
} from "@ionic/vue";
import {
    calendar,
    personCircle,
    waterOutline,
    appsOutline,
    calendarOutline,
} from "ionicons/icons";

export default {
    name: "Tabs",
    components: {
        IonTabs,
        IonTabBar,
        IonTabButton,
        IonIcon,
        IonRouterOutlet,
    },
    setup() {
        return {
            calendar,
            personCircle,
            waterOutline,
            appsOutline,
            calendarOutline,
        };
    },
};
</script>

<style>
ion-tab-bar {
    background: transparent;
    border: 0;
    display: inline-block;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 99999;
    width: 100%;
    height: 96px;
}
ion-tab-button {
    margin: 0 16px;
    display: inline-block;
    background: transparent;
    border-radius: 40%;
    width: 60px;
    height: 50px;
}
ion-tab-button.tab-selected {
    background: var(--tubeo-color-input-bg);
}

ion-tab-button ion-icon {
    color: var(--tubeo-color-input-bg);
}

ion-tab-button.tab-selected ion-icon {
    color: #fff;
}
</style>
