<template>
  <div class="tiles">
    <ion-row>
      <ion-col>
        <div class="tile tile-purple">
          <ion-icon :icon="sparklesOutline"></ion-icon>
          {{state.gallons.toFixed(2)}} gallons
          <p>water consumed per day</p>
        </div>
      </ion-col>

      <ion-col>
        <div class="tile tile-yellow">
          <ion-icon :icon="colorFillOutline"></ion-icon>
          32.1 gallons
          <p>water wasted during your sessions</p>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div class="tile tile-orange">
          <ion-icon :icon="earthOutline"></ion-icon>
          3.2 gallons
          <p>water saved since you use this app</p>
        </div>
      </ion-col>

      <ion-col>
        <div class="tile tile-red">
          <ion-icon :icon="thermometerOutline"></ion-icon>
          {{state.temp.toFixed(2)}}°F
          <p>is the current temperature of water</p>
        </div>
      </ion-col>
    </ion-row>
  </div>
</template>

<script>
import {IonRow, IonCol, IonIcon} from "@ionic/vue";
import {sparklesOutline, colorFillOutline, earthOutline, thermometerOutline} from "ionicons/icons";
import {reactive} from "vue";

export default {
  name: "Tiles",
  components: {
    IonRow, IonCol, IonIcon
  },
  setup() {
    const state = reactive({
      gallons: 0,
      temp: 70.31,
    });

    setInterval(function () {
      state.gallons += Math.random() * (0.3 - 0.1) + 0.1;

      if (state.temp < 83) {
        state.temp += Math.random() * (5 - 2) + 2;
      }
    }, 1000)

    return {
      state,
      sparklesOutline, colorFillOutline, earthOutline, thermometerOutline
    }
  }
}
</script>

<style>
.tiles {
  z-index: 99999;
}

.tile {
  border-radius: 16px;
  background: red;
  padding: 24px;
  font-weight: bold;
}

.tile p {
  font-weight: normal;
  margin: 4px 0 0 0;
  font-size: 12px;
}

.tile.tile-purple {
  background: rgb(238, 238, 255);
}

.tile.tile-yellow {
  background: rgb(248, 248, 248);
}

.tile.tile-orange {
  background: rgb(255, 248, 237);
}

.tile.tile-red {
  background: rgb(249, 232, 229);
}
</style>